.App h1, h3 {
  text-align: center;
}
.Header {
  color: #fff;
  /* text-shadow: 1px 1px 5px #fff; */
}
/* write your parent styles in here for your App.js */
h2 {
  color: #fff;
}

h3 {
  color:rgba(255, 255, 255, 0.774);
}

body {
  padding-bottom: 50px;
}